// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
}
