<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>this year's intentions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">board</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink="/year-setup" expand="block">Go to Year Setup</ion-button>
  <ion-button routerLink="/intention" expand="block">Go to Intention</ion-button>
  <ion-button routerLink="/add-moment" expand="block">Go to Add Moment</ion-button>
  <ion-button routerLink="/year-reflection" expand="block">Go to Year Reflection</ion-button>

  <ion-list>
    @for (i of intentions; track i.id) {
      <ion-item>
        <ion-label>{{ i.title }}</ion-label>
      </ion-item>
    }

  </ion-list>


</ion-content>
