<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>This Year</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="board">
    <div class="board__header">
      <div class="board__kicker">Living vision board</div>
      <div class="board__title">Your Intentions</div>
      <div class="board__subtitle">Tap an intention to add proof you lived it.</div>
    </div>

    <div class="intentions">
      @for (i of intentions; track i.id) {
        <button class="card" type="button">
  <div class="card__media">
    <div class="card__placeholder"></div>
    <div class="card__overlay"></div>
    <div class="card__titleOverlay">
      {{ i.title }}
    </div>
  </div>
</button>

      }
    </div>
  </div>
</ion-content>
